﻿@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin: 0;" id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/pexels-pixabay-263402.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="container px-4 px-lg-5 text-center">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-10">
                            <h2 class="text-light">¿Quienes Somos?</h2>
                            <p class="lead mb-5">
                                Comprometidos con la innovación médica, que integra a profesionales de la salud, pioneros y expertos, dedicados a cuidar de la salud por más de 50 años.
                                Comprometido con la innovación médica ha sido reconocido localmente como el mejor hospital de la comunidad que se distingue por su alta capacidad de resolución en problemas complejos de salud, su tradición y arraigo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/tablets-ge1dfc7859_1280.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="container px-4 px-lg-5 text-center">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-10">
                            <h2 class="text-white">Conoce informacion que te ayudara a vivir una vida mas saludable</h2>
                            <p class="lead mb-5">
                                Constantemente agregamos articulos nuevos que ayudar y aconsejar a al gente para vivir una vida mas saludable y prevenir enfermedades

                            </p><br><br>
                            <a class="btn btn-info text-white" href="#Articulos">Conoce más!</a>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/doctor-650534.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="container px-4 px-lg-5 text-center">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-lg-10">
                            <h2 class="text-white">¡Conoce nuestras especialidades!</h2>
                            <br><br>
                            <a class="btn btn-info text-white" onclick="alert" alert="" href="#Especialistas">Especialistas</a>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>

<br>
<br>

<!-- Referencia-->
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="fs-4 mb-4 fst-italic">"El Centro de Salud Integral es nuestra casa de formación y saber que podemos beneficiar a muchas personas de la comunidad en situación vulnerable, es de mucha alegría"</div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="rounded-circle me-3" src="~/img/pexels-tima-miroshnichenko-8376309.jpg" alt="..." />
                        <div class="fw-bold">
                            Fatima Angelica
                            <span class="fw-bold text-primary mx-1">/</span>
                            Medico especialista
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Especialistas-->
<section class="py-5" id="Especialistas">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">NUESTROS ESPECIALISTAS </h2>
                    <p class="lead fw-normal text-muted mb-5">Contamos con un equipo altamente capacitado y especializado atento a las necesidades de confianza y tranquilidad del paciente.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/img/pexels-ivan-samkov-4989168.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Cardiologia</div>
                        <h5 class="card-title mb-3">Por un corazón sano</h5>
                        <p class="card-text mb-0">Lo primero es conocer en qué estado se encuentra y para ello, contamos con Centros y especialistas que te ayudarán a dar ese primer paso para cuidar tu corazón.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/img/dentist-2530990_1280.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Evaluaciones médicas</div>
                        <h5 class="card-title mb-3">Prevenir siempre es mejor que solucionar.</h5>
                        <p class="card-text mb-0">Una evaluación médica te permite prevenir padecimientos o tener la posibilidad de tratarlos oportunamente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/img/woman-g15dab02bf_640.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Radiologia</div>
                        <h5 class="card-title mb-3">Diagnósticos precisos que facilitan el tratamiento adecuado.</h5>
                        <p class="card-text mb-0">Realizamos estudios y procedimientos que brindan un registro gráfico de tu estado de salud y del funcionamiento de tu cuerpo.</p>
                    </div>
                </div>
            </div>
        </div>

        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">Especialistas con una formación de calidad.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        @if (Session["Cliente"] == null)
                        {
                            @Html.ActionLink("Iniciar Sesión", "Login", "Home", null, new { @class = "btn btn-outline-light" })
                        }
                        else
                        {
                            @Html.ActionLink("Haz una cita", "Cita", "home", null, new { @class = "btn btn-outline-light" })

                        }
                    </div>
                </div>
            </div>
        </aside>
    </div>
</section>
<hr />
<h1>Conoce nuestra ubicacion!</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.363338653169!2d-100.31924732029438!3d25.72549545708329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629452432ae897%3A0xf2331cffc0fb0d60!2sEdificio%2007%20FIME!5e0!3m2!1ses!2smx!4v1683834986409!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<hr />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>