@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Section: Design Block -->
<section style=" background-color: hsl(0, 0%, 96%)">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: white">
        <div class="container">
            <div class="alert alert-@ViewBag.alerta"><b>@ViewBag.res</b></div>
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        ¡Registrate! <br />
                        <span class="text-primary">Conoce más de nuestros servicios</span>
                    </h1>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form action="/Home/Signup_page" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" id="Nombre" name="Nombre" class="form-control" />
                                            <label class="form-label" for="Nombre">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline form-floating mb-3">
                                            <input type="text" id="Apellido" name="Apellido" class="form-control" />
                                            <label class="form-label" for="Apellido">Apellido</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Email input -->
                                <div class="form-outline form-floating mb-3">
                                    <input type="email" id="Correo" name="Correo" class="form-control" />
                                    <label class="form-label" for="Correo">Email</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline  form-floating mb-3">
                                    <input type="password" id="Contraseña" name="Contraseña" class="form-control" />
                                    <label class="form-label" for="Contraseña">Contraseña</label>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-4 float-end mt-4">Registrarse</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
